<% include ./partial/header.ejs %>
        <div id="centerPart">
            <div id="centerLeft">
                <div id="leftIcons">
                    <i class="ri-arrow-right-double-fill"></i>
                    <i class="ri-add-line"></i>
                </div>
            </div>
            <div id="centerRight">
                <div id="centerTop">
                    <h3>Create Pin</h3>
                </div>

                <form  action="/upload" method="post" enctype="multipart/form-data">
                    <input  id="fileinp" type="file" name="filename" placeholder="Choose Photo">
                    <div id="uploadSection">

                        <div id="upload-block">
                            <i class="ri-arrow-up-circle-fill"></i>
                            <p>Choose a file on click</p>
                        </div>
                        <div id="upload-detail">
                            <div id="title">
                                <h5>Title</h5>
                                <input class="title" name="filecaption" type="text" placeholder="Add a Title"
                                    required />
                            </div>

                            <div id="desc">
                                <h5>Description</h5>
                                <input class="Description" name="Description" type="text"
                                    placeholder="Add a Detail Description" />
                            </div>
                            <div id="submit">
                                <input type="submit" class="submit">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    
<% include ./partial/footer.ejs %>