@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}
html,body{
    width: 100%;
    height: 100%;
}

img {
    border-radius: 40px;
}

img:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.grid {
    text-align: center;
    max-width: 95vw;
    margin: 2.5vw auto;
}

.grid-item {
    padding: 5px;
    box-sizing: border-box;
    display: inline;
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
    }
}

@media (min-width: 500px) {
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: 33.333%;
  }
}

@media (min-width: 1700px) {
  .grid-item {
    width: 25%;
  }
}
#line{
  text-decoration-line: none;
  color: black;
}