<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="shortcut icon" href="/images/Icons/Pinterest Icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/create.css">
    
</head>

<body>
    <div id="main">
        <div id="nav">
            <a href="/feed"><img src="/images/Icons/Pinterest Icon.png" alt=""></a>
            <a id="line" href="/feed"><h5>Home</h5></a>
            <h5>Explore</h5>
            <a id="line" href="/create"><h5 >Create</h5></a>
            <div id="search">
                <i class="ri-search-line"></i>
                <input type="text">
                <div class="inputPin">
                    <h5>Your Pin</h5>
                    <i class="ri-arrow-drop-down-line"></i>
                </div>
            </div>
            <i class="ri-notification-4-fill"></i>
            <i class="ri-chat-1-fill"></i>
            <a href="/profile"><div id="profileImg">
                <img src="" alt="">
            </div></a>
            <i id="arrow" class="ri-arrow-drop-down-line dropdown">
                <ul class="dropdown-content">
                    <li><a href="#">Add Account</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="/logout">LogOut</a></li>
                </ul>
            </i>
        </div>